/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
  padding-top: 34px;
}

.company{
	padding-top: 24px;
	display: block;
}

.Titulo{
	font-family: 'Monstserrat', sans-serif;
	  margin-bottom: 17px;
	  font-size: 44px;
	  color: #141720;
	  font-weight: bold;
	  
}

.centro{
	 width: 100%;
  height: 615px;
  display: flex;
  align-items: center; 
}

.nav-link {
  color: #5d5f65;
  font-size: 16px;
  padding: 0.5rem 0.8rem;
}

.sección-about-us{
	
	padding-top:145px ;
	padding-bottom:241px ;
	background-color: #141720;
	color: #fff;
	position: relative;
}

.imagen-dos-secciones{
	width: 50%;
  height: 640px;
  background: url(../images/imagen-dos-secciones.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
}

.timeline{
	position: absolute;
	width: 991px;
	height: 511px;
	right: 154px;
	top: 1400px;
}
.timelinea{
	position: absolute;
	width: 261px;
	height: 511px;
	left: 0px;
	top: 0px;
}
.linea{
	position: absolute;
	width: 4px;
	height: 490px;
	left: 63.5px;
	top: 0px;

	background: #D4D4D4;
}
.time2003{
	position: absolute;
	width: 236px;
	height: 19px;
	left: 0px;
	top: 151px;
}
.año2003{
	position: absolute;
width: 46px;
height: 26px;
left: 0px;
top: 0px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 26px;
 /* identical to box height, or 162% */
color: #C71222;
}
